@model ThroneOfCommons.Mvc.Models.CandidateCreateViewModel

@{
    ViewData["Title"] = "Create";
}


<h4>Add new Candidate in Race</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PartyType" class="control-label"></label>
                @Html.DropDownListFor(m => m.Party, Model.PartyType, "Select-Type", new { @class = "form-control" })
                <span asp-validation-for="PartyType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BiddedOn" class="control-label"></label>
                <input asp-for="BiddedOn" class="form-control" />
                <span asp-validation-for="BiddedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfBirth" class="control-label"></label>
                <input asp-for="DateOfBirth" class="form-control" />
                <span asp-validation-for="DateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LatestPortfolio" class="control-label"></label>
                <input asp-for="LatestPortfolio" class="form-control" />
                <span asp-validation-for="LatestPortfolio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
